<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>
<connectionStrings>
  <add name="COMP231-Project"
  connectionString="Data Source=ALUMINIUM\SQLEXPRESS;Initial Catalog=COMP231-Project;Integrated Security=True" providerName="System.data.sqlclient"/>
</connectionStrings>
</configuration>